body { 
    font-family: sans-serif; 
    padding: 1em; 
}
.header {
    text-align: center;
}
.ais-Hits-list {
    display: flex;
    flex-wrap: wrap;
}
.ais-Hits-item {
    flex: 0 0 33%;
    outline: 1px solid;
    margin-top: 0;
}
.hit-class img {
   height: 50%;
   width: 70%;
   object-fit: cover; 
}
.ais-SearchBox { margin: 1em 0; }
.ais-Pagination { 
    margin-top: 1em;
 }
.left-panel { float: left; margin-top: 1em; width: 240px; margin-right: 10px; }
.right-panel { 
    margin-left: 260px;
 }
 .mobile-menu {
    display: none;
 }

 @media only screen and (max-width: 600px) {
    .ais-InstantSearch {
        display: flex;
        flex-direction: column;
    }
    .left-panel {
        width: 100%;
        max-height: 0px;
        overflow: hidden;
    }
    .right-panel{
        width: 100%;
        margin-left: 0;
    }
    .ais-Hits-item {
        flex-basis: 100%;
    }
    .mobile-menu {
        display: block;
    }
    #menu {
        display: none;
    }
    #menu-label {
        border: 2px solid black;
        border-radius: 5%;
        text-align: center;
    }
    input#menu:checked+label+div.left-panel {
        max-height: 100%;
        overflow: auto;
    }
 }
